body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fce4ec; /* Loun ghadi l l-ghoz */
  font-family: 'Arial', sans-serif;
  text-align: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.emoji {
  font-size: 80px;
}

.question, .success-text {
  color: #d81b60;
  margin: 0;
  font-size: 32px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease; /* Bach l-bouton ykber b chwiya machi b zerba */
}

.yes-button {
  background-color: #4caf50; /* Khder */
  color: white;
  font-weight: bold;
}

.yes-button:hover {
  background-color: #45a049;
}

.no-button {
  background-color: #f44336; /* 7mer */
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.no-button:hover {
  background-color: #da190b;
}